Package: jack-capture-cuimhne
Version: VERSION_STRING
Section: sound
Priority: optional
Maintainer: Claude N. Warren, Jr. <claude@xenei.com>
Build-Depends: jack
Architecture: armhf
Depends: sndfile-tools, libasound2, libsndfile1
Replaces: jack-record
Description: Cuimhne Ceoil version of jack_capture is a program for recording sound files with jack
